.error-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 1px;
    justify-content: center;
    margin-top: -200px;
    .error-title{
        display: flex;
        justify-content: center;
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .error-img{
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
        animation: rebote 1s alternate infinite ease-in;
        width: 300px;
    }
}
@keyframes rebote{
    0%{
        transform: translateY(-6%);
    }
    100% {
        transform: translateY(0);
    }
}