.cart-widget-container{
    position: absolute;
    top: 120px;
    .cart-widget{
        width: 70px;
        margin-left: 10px;
    }
    .cart-num{
        position: absolute;
        left: 80px;
        top: 30px;
        color: white;
        font-size: 25px;
    }
}
