.navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 50px;
    background-color: #371C75;
    .containerRight{
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .containerRightA{
            padding: 10px;
            color: white;
            text-decoration: none;
            text-shadow: 0 0 1px #000;
        }
        .containerRightA:hover{
            opacity: 0.5;
        }
    }
    .containerLeft{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 100px;
    }
    .container{
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .containerTitleRight{
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        justify-content:flex-start;
        align-items: flex-end;
        margin-left: 30px;
        .productosTitle{
            font-size: 30px;
            margin-top: 5px;
            color: white;
        }
    }
    .containerLeftB{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 15px;
        padding: 10px;
        .containerLeftBChild{
            padding: 5px;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
    }
}